<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Fragments: resources</title>
<!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}">-->

<!--    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>-->
<!--    <script th:src="@{/webjars/popper/umd/popper.min.js}"></script>-->
<!--    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>-->
<!--    <script th:src="@{/js/mdb.min.js}"></script>-->





    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <link rel="shortcut icon" th:href="@{/images/favicon.png}">
    <link rel="apple-touch-icon" th:href="@{/images/apple-touch-icon.png}">
    <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/apple-touch-icon-72x72.png}">
    <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/apple-touch-icon-114x114.png}">

    <script th:src="@{/js/jQuery_v3.1.1.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.magnific-popup.js}"></script>
    <script th:src="@{/js/jquery.firstVisitPopup.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

</head>
<body>
</body>
</html>