<!doctype html>
<html lang="en" xmlns:th="http://www.themeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:replace="~{fragments/resources :: head/link}"></th:block>
    <th:block th:replace="~{fragments/resources :: head/script}"></th:block>
    <script>
        $(document).ready(function () {
            $('#products').DataTable();
        });
    </script>

    <title>BootAdmin</title>
</head>
<body class="bg-light">
<div class="container">

    <div th:replace="~{fragments/navigation :: store-main-menu}"/>

    <div class="d-flex">

        <div th:replace="~{fragments/navigation :: store-sidebar(Products)}"/>

        <div class=" content p-4">
            <<h2 class="mb-4">Product list</h2>

            <div class="card mb-4">

                <div class="card-body">
                    <form class="form-group" th:action="@{/products/create}">
                        <button type="submit" class="btn btn-primary">Create new</button>
                    </form>

                    <table id="users" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Фото</th>
                            <th>Название</th>
                            <th>Бренд</th>
                            <th>Категория</th>
                            <th>Цена</th>
                            <th>Дата создания</th>
                            <th>Дата изменения</th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p : ${products}">
                            <td th:text="${p.id}"/>
                            <td>
                                <img class="card-img-bottom" th:src="@{/picture/{pictureId}(pictureId=${p.pictures.get(0).id})}"
                                     width="100"/>
                            </td>
                            <td th:text="${p.name}"/>
                            <td th:text="${p.brand.getName()}"/>
                            <td th:text="${p.category.getName()}"/>
                            <td th:text="#{text.products.price(${p.price})}"/>
                            <td th:text="${{p.createDate}}"/>
                            <td th:text="${{p.modifyDate}}"/>
                            <td>
                                <a th:href="@{/products/{id}/edit(id=${p.id})}" class="btn btn-icon btn-pill btn-primary"
                                   data-toggle="tooltip" title="Edit">
                                    <i class="fa fa-fw fa-edit"></i>
                                </a>
                                <form th:action="@{/products/{id}/remove(id=${p.id})}" th:method="delete"
                                      class="d-inline">
                                    <button class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip"
                                            title="Delete">
                                        <i class="fa fa-fw fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>